{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}APPMed{% endblock title %}
   {% block header %}
   <div class="header navbar">
    <div class="header-container">
        <div class="nav-logo">
            <a href="{% url 'home' %}">
                <div class="logo logo-dark" style="background-image: url({% static 'images/logo/abrema.jpg' %});"></div>
                <div class="logo logo-white" style="background-image: url({% static 'images/logo/logo-white.png' %});"></div>
            </a>
        </div>
        <ul class="nav-left">
            <li>
                <a class="sidenav-fold-toggler" href="javascript:void(0);">
                    <i class="mdi mdi-menu"></i>
                </a>
                <a class="sidenav-expand-toggler" href="javascript:void(0);">
                    <i class="mdi mdi-menu"></i>
                </a>
            </li>
        </ul>
        
        <!-- <img src="{% static 'images/logo/burundi.png' %} " alt="" class=""> -->
        <h3 class="m-v-10" style="text-align: center;">
            Gestion des medicaments
        </h3>
        
        
        <ul class="nav-right">
            <li class="m-r-10">
                <!--  right menu for login and profiles options-->
            </li>
        </ul>
    </div>
</div>
   {% endblock header %}


{% block pagecontainer %}

 

 {% block maincontent %}
 <div class="main-content">
    <div class="container-fluid">
        <div class="m-b-10">
        <ul class="nav nav-pills av-justified ">
            <li class="nav-item">
                <a class="nav-link active" href="#">Medicaments</a>
              </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Consommables</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Medicaments IO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Reactifs CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Tests rapides</a>
              </li>
          </ul> 
        </div>  
        <h1>Analyse selon la Consommation moyenne Mensuel (CMM)</h1>
        <div class="card-body">
            <form class="form-inline">
                <label class="control-label m-r-10"><b>Du:</b> </label>
                <select type="text" class="form-control m-b-20 m-r-15" name="mois" id="mois" >
                    
                    <option value="01">Janvier</option>
                    <option value="02">Fevrier</option>
                    <option value="03">Mars</option>
                    <option value="04">Avril</option>
                    <option value="05">Mai</option>
                    <option value="06">Juin</option>
                    <option value="07" selected="selected">Juillet</option>
                    <option value="08">Aout</option>
                    <option value="09">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Decembre</option>

                </select>
                <select class="form-control m-b-20 m-r-15" name="annee" id="annee">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                </select>
                
                <label class="control-label m-r-10"><b>Au:</b> </label>
                <select type="text" class="form-control m-b-20 m-r-15" name="mois" id="mois" >
                    
                    <option value="01">Janvier</option>
                    <option value="02">Fevrier</option>
                    <option value="03">Mars</option>
                    <option value="04">Avril</option>
                    <option value="05">Mai</option>
                    <option value="06">Juin</option>
                    <option value="07" selected="selected">Juillet</option>
                    <option value="08">Aout</option>
                    <option value="09">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Decembre</option>

                </select>
                <select class="form-control m-b-20 m-r-15" name="annee" id="annee">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                </select>
                
                <button type="submit" class="btn btn-gradient-success m-b-20">Submit</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-8">             
        
                    
                <div class="card">
                    <div class="card-header border bottom">
                        <h4 class="card-title">Resultats</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Produit</th>
                                    <th scope="col">Qte stock</th>
                                    <th scope="col">Cmde</th>
                                    <th scope="col">Sortie</th>

                                    <th scope="col">Stock utilisable</th>
                                    <th scope="col">Stock Dispo+cmde </th>
                                    <th scope="col">MSD stock</th>
                                    <th scope="col">MSD stock+Cmde</th>
                                    <th scope="col">Fin prob stock</th>
                                    <th scope="col">Fin prob stock+cmde</th>
                                    <th scope="col">Risque Av livraison </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {%for result in results %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ result.designation }}</td>
                                    <td>{{ result.quantite_sage|intcomma }}</td>
                                    <td>{{  result.quantite_commande|intcomma }}</td>
                                    <td>{{  result.quantite_sortie|intcomma }}</td>
                                    <td>{{ result.stock_utilisable|intcomma }}</td>
                                    <td>{{result.stock_dispo_commande|intcomma}}</td>
                                    <td>{{ result.msd_stock }}</td>
                                    <td>{{ result.msd_stock_commande }}</td>
                                    <td>{{ result.fin_prob }}</td>
                                    <td>{{ result.fin_prob_stock_commande }}</td>
                                    <td>{{result.rupture_av_livraison}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>   
                   
            
                  
            </div>
            <div class="col-md-4">
               <div class="card">
                <div class="card-header border bottom">MSD</div>
                <div class="card-body">
                    
                        <canvas id="myChart"></canvas>
                    
                </div>

               </div>
            </div>
        </div>
       
        
    
    </div>
</div>
 {%  endblock maincontent %}
 {% block footer%}
 <footer class="content-footer">
    <div class="footer">
        <div class="copyright">
            <span>Copyright © 2022 <b class="text-dark">Lopez</b>. All rights reserved.</span>
            
        </div>
    </div>
</footer>
 {% endblock footer%}

{% endblock pagecontainer %}
{% block js%}
    <script>
        (
()=>{
const ctx = document.getElementById('myChart').getContext('2d');
new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ {% for result in results %} '{{ result.designation }}' ,  {% endfor %}],
        datasets: [{
            label: '# MSD',
            data: [ {% for result in results %} {{ result.msd_stock_commande }} ,  {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

}
)();
    </script>
{% endblock js%}
